$legal-footer-height: 35px;

// Legal Footer
body, html {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: $legal-footer-height * -1;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: $legal-footer-height;
}

.legal-footer {
  padding-top: 7px;
  height: $legal-footer-height;

  p {
    margin-bottom: 8px;
  }
}

// Sticky Footer
.stickyfooter {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;

  .showhide-button {
    position:absolute;
    bottom: 0;
    right: 0;
    line-height: $legal-footer-height;
    padding: 0 20px;
    background:rgba($gray-darker, 0.975);
    color: $body-bg;

    &.showhide-button:hover {
      text-decoration: none;
      color: white;
    }
  }

  #stickyfooter {
      height: 270px;
      background:rgba($gray-darker, 0.975);
      padding-top: 20px;
      color: $body-bg;
  }

  .closed i {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
}
