// Bootstrap Variables
// ---------------------

// Colors
$brand-primary:         #cb4170;
$brand-success:         #91a346;
$brand-info:            #275993;
$brand-warning:         #f16f3d;
$brand-danger:          #812147;

// Typography
$font-family-sans-serif: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Scaffolding
$body-bg:               #f2f2f2;
